<div class="container">
  <div class="row">
  	<div class="col-xs-3">
  	  <h2>User info</h2>
  	  <%= attachment_image_tag @user, :profile_image, size: "90x90", format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %> <br><br><br><br><br>

  	  <table class="table">
  	    <tr>
          <td>name</td>
          <td><%= @user.name %></td>
  	    </tr>
  	    <tr>
  	      <td>introduction</td>
  	      <td>
  	        <%= @user.introduction %>
  	      </td>
  	    </tr>
  	  </table>
      <%= link_to edit_user_path(@user), class: 'col-xs-12 btn btn-default' do %>
  	    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
      <% end %>
      <br><br>

	  <h2>New book</h2>
	   <%= form_for @nbook do |book| %>
	     <div class="field row">
	       <p>Title</p>
	         <%= book.text_field :title, class: 'col-xs-12' %>
	     </div>
	     <div class="field row">
	       <p>Opinion</p>
	         <%= book.text_area :body, class: 'col-xs-12' %>
	     </div><br>
	     <div class="action row">
		   <%= book.submit 'Create Book', class: 'btn btn-primary col-xs-12' %>
		 </div>
	   <% end %>
	</div>

	<div class="col-xs-9">
	  <h2>Users</h2>
	  <table class="table table-hover table-inverse">
	  	<thead>
	  	  <tr>
	  	  	<th>image</th>
	  	  	<th>name</th>
	  	  	<th></th>
	  	  </tr>
	  	</thead>
	    <tbody>
	    <% @users.each do |user| %>
	  	  <tr>
	  	    <td><%= attachment_image_tag user, :profile_image, size: "40x40", class: "pull-left profile-img", fallback: "no_image.jpg" %></td>
	  	    <td><%= user.name %></td>
	  	    <td><%= link_to 'Show', user_path(user.id)%></td>
	  	  </tr>
	  	<% end %>
	    </tbody>
	  </table>
	</div>
   </div>
</div>