<%= form_for (@book) do |f| %>
<center>
  <div class="container">
  	<div class="row">
  	  <div class="col-md-offset-3">
        <% if @book.errors.any? %>
          <%= @book.errors.count %> error prohibited this obj from being saved: <br>
          <ul>
            <% @book.errors.full_messages.each do |msg| %>
              <%= msg %><br>
            <% end %>
          </ul>
        <% end %>
  	  	<div class="form-group">
  	  	  <label>Title</label><br>
  	  	  <%= f.text_field :title %>
  	  	</div>
  	  	<div class="form-group">
  	  	  <label>Opinion</label><br>
  	  	  <%= f.text_area :body %>
  	    </div>
  	    <%= f.submit 'Update Book', class: "btn btn-default" %>
  	    <%= link_to 'Show', book_path %>
  	    <%= link_to 'Back', books_path %>
  	</div>
  </div>

</center>
<% end %>