<p id="notice">
  <%= notice %>
</p>
<div class="container">
  <div class="row">
    <% if @book.errors.any? %>
      <%= @book.errors.count %> errors prohibited this obj from being saved:<br>
        <ul>
          <% @book.errors.full_messages.each do |msg| %>
            <%= msg %><br>
          <% end %>
        </ul>
    <% end %>
  	<div class="col-xs-3">
  	  <h3>User info</h3>
  	  <%= attachment_image_tag @user, :profile_image, class: "pull-left profile-img", fallback: "no_image.jpg", size: "90x90" %> <br><br><br><br><br>
	   <table class="table table-striped">
	     <tbody>
	  	 <tr>
	       <th>name</th> <th><%= @user.name %></th>
	  	 </tr>
	  	 <tr>
	  	   <th>introduction</th>
	  	   <th>
	  	   	 <%= @user.introduction %>
	  	   </th>
	  	 </tr>
	  	</tbody>
	   </table>
	     <%= link_to edit_user_path, class: 'btn btn-default' do %>
	  	 <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
	  　　<% end %>

	  <h2>New book</h2>
	   <%= form_for @aaa do |book| %>
	     <p>Title</p>
	       <%= book.text_field :title %>
	     <p>Opinion</p>
	       <%= book.text_area :body %><br>
		   <%= book.submit 'Create Book' %>
	   <% end %>
	</div>

	<div class="col-xs-9 pull-right">
	  <h3>Book detail</h3>
	  <table class="table table-striped">
	    <tbody>
	  	<tr>
	  	  <td>
	  	  	<%= link_to(@book.user) do %>
	  	  	<%= attachment_image_tag @book.user, :profile_image, size: "30x30", class: "pull-left profile-img", fallback: "no_image.jpg" %><br><br>
	  	  	<%= @book.user.name %>
	  	  	<% end %>
	  	  </td>
	  	  <td><%= @book.title %></td>
	  	  <td><%= @book.body %></td>
	  	  <% if @book.user == current_user %>
	  	    <td><%= link_to 'Edit', edit_book_path(@book.id), class: 'btn btn-default' %></td>
	  	    <td><%= link_to 'Destroy', book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？", class: 'btn btn-default' %>
	  	    </td>
	  	  <% end %>
	  	</tr>
	    </tbody>
	  </table>
	</div>
   </div>
</div>